.category-photography .site-header {
    background-color: #111;
    border-bottom-color: #222;
}

body.category-photography, 
.category-photography .main-content.category-content {
    background-color: #191919;
    color: #fff;
    padding: 0;
    max-width: none;
}

.gallery .button__primary {
    display: block;
    margin: 1em auto;
    padding: 0.3em 2em; 
    color: #000;
    background-color: #ffe420;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: none;
}

.gallery .button__primary:hover {
    background-color: #ffea47;
    color: #555;
}

/* Photgraphy category page */
.category-photography .post-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    gap: 2px;
}

.category-photography .post-list li {
    position: relative;
    flex-grow: 1;
    background-color: transparent;
    margin: 0;
    width: 30vw;
    height: 30vw;
    border-bottom: 0;
}

.category-photography .post-list li:last-child {
    max-width: 50%;
}

.category-photography .post-list li a,
.category-photography .post-list li a .main-tile-part {
    height: 100%;
}

.category-photography .post-list li a .main-tile-part > img,
.category-photography .gallery ul li img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.category-photography .post-list li a .main-tile-part > span { 
    display: none;
}

.category-photography .post-list li a:hover .main-tile-part > span,
.category-photography .post-list li a:active .main-tile-part > span,
.category-photography .post-list li a:focus .main-tile-part > span {
    display: block;
}

.category-photography .pagination a, .pagination span {
    padding: 0.4em 0.8em;
    border: 1px solid #333;
}

/* Post Pages */
.category-photography .page-hero-header {
    max-height: none;
}

.category-photography .nohero-post-content .hero-image-container {
    max-height: calc(100vh - 61px - 11em);
}

.category-photography .gallery ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
}

.category-photography .gallery ul li {
    list-style: none;
    margin: 0 0 1% 0;
    padding: 0;
    width: 32.6666%;
    aspect-ratio: 1 / 1;
}

.category-photography .main-content.post-content aside {
    background-color: rgba(0, 0, 0, 0.12);
    color: #ddd;
    padding: 0.2em 0.4em;
    left: -0.3em;
    font-size: 0.7em;
}

.photo-info {
    position: relative;
}

.photo-info .photo-metadata {
    display: flex;
    flex-wrap: wrap;
}

.photo-info .photo-location {
    width: 100%;
    min-height: 200px;
    background-color: #333;
    margin: 6px 0 5px;
}

.main-content.post-content .photo-info .camera-details {
    width: 100%;
    max-width: 480px;
}

.main-content.post-content .photo-info th,
.main-content.post-content .photo-info td {
    border: 0;
    padding: 0.2em 0.4em;
    line-height: 180%;
}

.main-content.post-content .photo-info th {
    font-weight: bold;
}

.category-photography .main-content.post-content aside.photo-info th {
    background-color: transparent;
}

aside.photo-info small {
    color: #444;
    font-size: 0.8em;
    position: absolute; 
    right: 0.7em;
    bottom: 0.5em;
}

.category-photography .main-content.post-content .end-post-nav .tags a {
    background-color: #333;
    color: #ececec;
}


/* Breakpoints */
@media screen and (min-width: 450px) {

    .category-photography .main-content.post-content aside {
        font-size: 0.8em;
    }

}

@media screen and (min-width: 580px) {
    .category-photography .main-content.post-content aside {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {

    .photo-info .photo-location {
        width: 39%;
        margin-right: 3%;
    }
    
    .main-content.post-content .photo-info .camera-details {
        width: 58%;
        max-width: none;
    }

}

@media screen and (min-width: 768px) and (orientation: landscape) {

    .category-photography .post-list li {
        width: auto;
        height: 42vh;
    }

}

@media screen and (min-height: 768px) and (orientation: landscape) {
    
    .category-photography .post-list li {
        height: 28vh;
    }

}