.category-photography .site-header {
    background-color: #111;
    border-bottom-color: #222;
}

body.category-photography, 
.category-photography .main-content.category-content {
    background-color: #191919;
    color: #fff;
    padding: 0;
    max-width: none;
}

.category-photography .post-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    gap: 2px;
}

.category-photography .post-list li {
    position: relative;
    flex-grow: 1;
    background-color: transparent;
    margin: 0;
    width: 30vw;
    height: 30vw;
    border-bottom: 0;
}

.category-photography .post-list li:last-child {
    max-width: 50%;
}

.category-photography .post-list li a,
.category-photography .post-list li a .main-tile-part {
    height: 100%;
}

.category-photography .post-list li a .main-tile-part > img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.category-photography .post-list li a .main-tile-part > span { 
    display: none;
}

.category-photography .post-list li a:hover .main-tile-part > span,
.category-photography .post-list li a:active .main-tile-part > span,
.category-photography .post-list li a:focus .main-tile-part > span {
    display: block;
}

.category-photography .pagination a, .pagination span {
    padding: 0.4em 0.8em;
    border: 1px solid #333;
}

/* Post Pages */
.category-photography .page-hero-header {
    max-height: none;
}

.category-photography .nohero-post-content .hero-image-container {
    max-height: calc(100vh - 61px - 11em);
}

.category-photography .main-content.post-content .end-post-nav .tags a {
    background-color: #333;
    color: #ececec;
}


/* Breakpoints */
@media screen and (min-width: 768px) and (orientation: landscape) {

    .category-photography .post-list li {
        width: auto;
        height: 42vh;
    }

}

@media screen and (min-height: 768px) and (orientation: landscape) {
    
    .category-photography .post-list li {
        height: 28vh;
    }

}