.category-photography .site-header {
    background-color: #111;
    border-bottom-color: #222;
}

body.category-photography, 
.category-photography .main-content.category-content {
    background-color: #191919;
    color: #fff;
    padding: 0;
    max-width: none;
}

.gallery .button__primary {
    display: block;
    margin: 1em auto;
    padding: 0.3em 2em; 
    color: #000;
    background-color: #ffe420;
    font-size: 1.5em;
    box-shadow: none;
}

.gallery .button__primary:hover {
    background-color: #ffea47;
    color: #555;
}

.pswp__custom-caption {
    position: absolute;
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);
    width: calc(100% - 3.6em);
    background-color: rgba(40, 40, 40, 0.85);
    max-width: 500px;
    border-radius: 8px;
}

.pswp__custom-caption p {
    padding: 0.8em 1.2em;
    margin: 0;
}

/* Photgraphy category page */
.category-photography .post-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    gap: 2px;
}

.category-photography .post-list li {
    position: relative;
    flex-grow: 1;
    background-color: transparent;
    margin: 0;
    width: 30vw;
    height: 30vw;
    border-bottom: 0;
}

.category-photography .post-list li:last-child {
    max-width: 50%;
}

.category-photography .post-list li a,
.category-photography .post-list li a .main-tile-part {
    height: 100%;
    overflow: hidden;
}

.category-photography .post-list li a .main-tile-part > img,
.category-photography .gallery ul li img {
    height: 100%;
    min-height: auto;
    min-width: 100%;
    width: auto;
    object-fit: cover;
}

.category-photography .post-list li a .main-tile-part > span { 
    display: none;
}

.category-photography .post-list li a:hover .main-tile-part > span,
.category-photography .post-list li a:active .main-tile-part > span,
.category-photography .post-list li a:focus .main-tile-part > span {
    display: block;
}

.category-photography .post-list li a .main-tile-part > span h3 {
    font-size: 1.3em;
}

.category-photography .pagination a, .pagination span {
    padding: 0.4em 0.8em;
    border: 1px solid #333;
}

/* Post Pages */
.category-photography .page-hero-header {
    max-height: none;
}

.category-photography .gallery ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
}

.category-photography .gallery ul li {
    list-style: none;
    margin: 0 0 1% 0;
    padding: 0;
    width: 32.6666%;
    aspect-ratio: 1 / 1;
}

.category-photography .main-content.post-content aside {
    background-color: rgba(0, 0, 0, 0.12);
    color: #ddd;
    padding: 0.2em 0.4em;
    left: -0.3em;
    font-size: 0.7em;
}

.photo-info {
    position: relative;
}

.photo-info .photo-metadata {
    display: flex;
    flex-wrap: wrap;
}

.photo-info .photo-location {
    width: 100%;
    min-height: 200px;
    margin: 3px auto 5px;
}

.main-content.post-content .photo-info .camera-details {
    width: 100%;
    max-width: 418px;
}

.main-content.post-content .photo-info th,
.main-content.post-content .photo-info td {
    border: 0;
    padding: 0.2em 0.4em;
    line-height: 180%;
}

.main-content.post-content .photo-info th {
    font-weight: normal;
    color: #bbb;
}

.category-photography .main-content.post-content aside.photo-info th {
    background-color: transparent;
    max-width: 90px;
}

aside.photo-info small {
    color: #444;
    font-size: 0.8em;
    position: absolute; 
    right: 0.7em;
    bottom: 0.5em;
}

.main-content.post-content footer.listening-to {
    border-color: #444;
}

.main-content.post-content blockquote {
    border-color: #444;
    color: #ddd;
}

.main-content.post-content blockquote::before {
    color: #444;
}

.category-photography .main-content.post-content .end-post-nav .tags a {
    background-color: #333;
    color: #ececec;
}


/* Breakpoints */
@media screen and (min-width: 450px) {

    .category-photography .main-content.post-content aside {
        font-size: 0.8em;
    }

    .photo-info .photo-location,
    .main-content.post-content .photo-info .camera-details {
        width: 418px;
    }

    .main-content.post-content .photo-info:has(.photo-location) .camera-details {
        margin: 0 auto;
    }

}

@media screen and (min-width: 580px) {

    .category-photography .post-list li a .main-tile-part > span h3 {
        font-size: 1.5em;
    }

    .photo-info .photo-location {
        width: 39%;
        margin-right: 3%;
        margin-top: 5px;
    }

    .main-content.post-content .photo-info .camera-details {
        width: 58%;
        max-width: none;
    }

}

@media screen and (min-width: 728px) {

    .category-photography .post-list li a .main-tile-part > span h3 {
        font-size: 1.8em;
    }

    .category-photography .main-content.post-content aside {
        font-size: 0.9em;
    }
 
}

@media screen and (min-width: 768px) and (orientation: landscape) {

    .category-photography .post-list li {
        width: auto;
        height: 42vh;
    }

}

@media screen and (min-height: 768px) and (orientation: landscape) {
    
    .category-photography .post-list li {
        height: 28vh;
    }

}