notes.txt

not needed

wp-config.php

wp-admin/
wp-includes/
wp-content/uploads/

!*/wp-*.php
/wp-*.php

!*/xmlrpc.php
/xmlrpc.php

!*/readme.html
/readme.html

!*/license.txt
/license.txt

!*/index.php
/index.php

twentyseventeen/
