/*
Theme Name: AndrewChart.co.uk 2017
Theme URI: https://www.andrewchart.co.uk
Author: Andrew Chart
Author URI: https://www.andrewchart.co.uk
Description: Andrew Chart's personal site Wordpress theme.
Version: 1.0

*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  font-family: 'Slabo 27px', 'Georgia', serif;
  min-width: 300px;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

h1, h3, h5 {
  font-family: 'Oswald', 'Helvetica', 'Arial Black', 'Arial Bold', 'Arial', sans-serif;
  font-weight: 400;
}

p {
  line-height: 147%;
  margin-bottom: 1em;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: #ff2f00;
  word-wrap: break-word;
}

a:hover {
  color: #ffea47;
}

ul li { list-style: none; }

button,
.button {
  font-family: 'Slabo 27px', 'Georgia', serif;
  background-color: transparent;
  border: 0;
}

.button__primary {
  cursor: pointer;
  border: 2px solid #f5e45f;
  background-color: #ffea47;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: #777;
  border-radius: 5px;
  box-shadow: 2px 1px 4px #eeeccc;
}

.button__primary:hover,
.button__primary:active {
  background-color: #ffe420;
  color: #333;
}

input[type=text],
input[type=email],
input[type=phone],
textarea {
  font-family: 'Slabo 27px', 'Georgia', serif;
  font-size: 1em;
  border: 1px solid #ddd;
  color: #777;
  border-radius: 0;
  -webkit-appearance: none;
}

.error {
  color: #c00;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.font-size-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background-color: #ddd;
  text-align: right;
}

.font-size-controls label {
  flex-grow: 1;
  margin: 2px 0.7em 0 0.6em;
  color: #333;
  text-align: left;
}

.font-size-controls button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  color: #111;
}

.font-size-controls button:hover {
  background-color: #ffea47;
}


/* HEADERS */
.above-fold__home {
  width:100%;
  height: 100%;
  max-height: 100%;
  text-align: center;
  overflow: hidden;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.no-flexbox .above-fold__home {
  display: block;
  min-height: 385px;
}

.site-header {
  background-color: #ff2f00;
  color: #fff;
  width: 100%;
}

.site-header .logo {
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-button-area {
  height: 58px;
}

/* Homepage Header */
.site-header__home {
  margin-bottom: 44px;
  border-bottom: 4px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.no-flexbox .site-header__home {
  display: block;
  position: relative;
  height: 90%;
  height: calc(100% - 51px);
}

.site-header__home .headline-text {
  font-size: 3em;
  line-height: 120%;
  margin-bottom: 0.3em;
}

.site-header__home .summary-text {
  padding: 0 5% 1em;
  font-weight: 400;
}

.site-header__home .logo {
  position: relative;
  top: 4px;
  width: 100%;
  max-width: 560px;
  margin: auto;
  flex-grow: 10;
  background-image: url('img/a/homepage-logo-centered.png');
  background-position: center bottom;
}

.no-flexbox .site-header__home .logo {
  height: 50%;
  top: auto;
  bottom: -4px;
  position: absolute;
  max-width: none;
}

@media screen and (min-width: 378px) {
  .no-flexbox .site-header__home {
    border-bottom: 7px solid #000;
  }

  .no-flexbox .site-header__home .logo {
    bottom: -7px;
  }
}

@media screen and (min-width: 555px) {
  .no-flexbox .site-header__home {
    border-bottom: 10px solid #000;
  }

  .no-flexbox .site-header__home .logo {
    bottom: -10px;
  }
}

@media screen and (min-width: 768px) {
  .no-flexbox .site-header__home {
    border-bottom: 14px solid #000;
  }

  .no-flexbox .site-header__home .logo {
    bottom: -14px;
  }
}

.site-header .menu-button {
  font-size: 1em;
  margin: 0.85em 0.8em;
  padding: 0.4em;
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 4px;
}

.site-header__home .menu-button-area {
  text-align: right;
}

.above-fold__home .see-more {
  position: absolute;
  width: 100%;
  max-height: 44px;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

@media screen and (max-height: 385px) {
  .no-flexbox .above-fold__home .see-more {
    display: none;
  }
}


.above-fold__home .see-more .scroll-down {
  font-size: 2em;
  padding: 4px;
  color: #aaa;
}

.above-fold__home .see-more .scroll-down:active {
  color: #9bd0da;
}

/* Slim Header */
.site-header__slim {
  border-bottom: 3px solid #111;
  height: 58px;
}

.site-header__slim .logo {
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Oswald', 'Helvetica', 'Arial Black', 'Arial Bold', 'Arial', sans-serif;
    background-image: url(img/a/slim-header-logo.png);
    background-position: 6px 4px;
    text-align: center;
}

.site-header__slim .logo a {
  color: #fff;
  display: block;
  padding: 0.5em 0;
}

.site-header__slim .menu-button-area {
  position: absolute;
  top: 0;
  right: 0;
}

/* Footer */
.site-footer {
  padding: 2em 0.5em 1em;
  text-align: center;
  color: #aaa;
}

.site-footer .social-links {
  margin-top: 0.35em;
}

.site-footer .social-links a {
  text-indent: -100px;
  display: inline-block;
  overflow: hidden;
  width: 1.4em;
  height: 1.4em;
  background-size: contain;
  background-repeat: no-repeat;
}

.site-footer .social-links a:first-of-type {
  margin-right: 0.5em;
}

.site-footer .social-links .twitter {
  background-image: url('img/twitter.gif');
}

.site-footer .social-links .linkedin {
  background-image: url('img/linkedin.gif');
}


/* NAV */
.nav-container {
  height: 100%;
  position: absolute;
  top: 61px;
  left: 0;
  z-index: 5;
  will-change: transform;

  transform: translateX(-102%);

  transition-property: transform;
  transition-duration: 0.33s;
  transition-timing-function: cubic-bezier(0,0,0.3,1);
}

.nav-container.open {
  transform: translateX(0);
  transition-duration: 0.33s;
  transition-delay: 0.25s;
  transition-timing-function: cubic-bezier(0,0,0.3,1);
}

body.nav-open {
  overflow: hidden;
}

.nav-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 61px;
  left: 0;
  opacity: 0;
  background-color: #000;
  z-index: -1;
  will-change: opacity;

}

body.nav-open .nav-overlay {
  z-index: 2;
  opacity: 0.3;

  transition: opacity 0.3s;
}


.main-nav {
  background-color: #fff;
  position: relative;
  height: 100%;
  width: 87%;
  min-width: 278px;
  max-width: 400px;
  overflow: scroll;

  box-shadow: 1px 0 7px rgba(0,0,0,0.3);
}

.site-header__home .nav-container,
.site-header__home .nav-overlay {
  top: 0;
  text-align: left;
}

.main-nav .dismiss {
  text-align: right;
}

.main-nav .dismiss .close-icon {
  background: none;
  border: 0;
  padding: 0.6em;
  color: #aaa;
}

.main-nav .dismiss .close-icon:active {
  color: #c00;
}

.main-nav > ul {
  border-top: 1px solid #ddd;
}

.main-nav > ul > li {
  border-bottom: 1px solid #ddd;
  position: relative;
}

.main-nav > ul > li a {
  padding: 0.9em;
  display: block;
}

.main-nav > ul > li > a {
  color: #333;
}

.main-nav > ul > li > a:active,
.main-nav > ul > li > ul.children > li > a:hover {
  color: #333;
  background-color: #eee;
}

.main-nav > ul > li > ul.children {
  overflow: hidden;
  max-height: 0;
  will-change: max-height;

  transition: max-height 0.45s ease-in-out;
}

.main-nav > ul > li > ul.children > li {
  border-top: 1px solid #ddd;
  background-color: #f3f3f3;
}

.main-nav li.cat-item.open ul.children {
  transition: max-height 0.45s ease-in-out;
  max-height: 16em;
}

.main-nav > ul > li > ul.children > li > a {
  min-width: 12em;
  color: #333;
}

.main-nav .search-form {
  padding: 14px 0 14px 14px;
  margin: 0;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.no-flexbox .main-nav .search-form {
  display: block;
  padding: 9px 0 14px 14px;
}

.main-nav .search-form label {
  margin-right: 1em;
  line-height: 200%;
}

.main-nav .search-form .search-box {
  font-size: 1em;
  padding: 0.3em 0.4em;
  width: 50%;
  flex-grow: 10;
}

.main-nav .search-form .search-icon {
  height: 100%;
  padding: 0.1em 0.4em;
  background: none;
  border: 0;
  color: #aaa;
  -webkit-appearance: none;
}

.no-flexbox .main-nav .search-form .search-icon {
  top: 5px;
  position: relative;
}

.main-nav .search-form .search-icon:active {
  color: #9bd0da;
}


/* CONTENT */
.main-content {
  padding: 1em;
  max-width: 830px;
  margin: auto;
  min-height: calc(100% - 2em - 170px);
  overflow: hidden;
}

.main-content h1 {
  font-size: 2.4em;
  margin: 0.4em 0 0.2em;
}

.main-content p {
  font-size: 1.1em;
}



/* Single Post Content */
.main-content.post-content {
  max-width: 700px;
}

.main-content.post-content h1 {
  font-size: 2.4em;
  margin-bottom: 0.2em;
}

.main-content.post-content h3 {
  font-size: 1.3em;
  margin: 2.2em 0 0.4em;
}

.post-meta-area, .post-series-area {
  line-height: 145%;
}

.main-content.post-content .post-meta-area {
  margin-bottom: 0.3em;
}

.post-series-area {
  color: #888;
  margin-bottom: 0.8em;
}

.post-series-area a {
  color: #888;
}

.post-series-area a:hover {
  text-decoration: underline;
}

.last-updated-date {
  color: #888;
  margin-top: 0.2em;
}

.main-content.post-content > p,
.main-content.post-content ol,
.main-content.post-content ul,
.main-content.post-content > aside {
  font-size: 1.2em;
  line-height: 1.68em;
}

.main-content.post-content > aside > p {
  font-size: 1em;
}

.main-content.post-content > aside > p:last-of-type {
  margin-bottom: 0;
}

.main-content.post-content ol,
.main-content.post-content ul {
  margin: 0 1.2em 2em;
}

.main-content.post-content li {
  line-height: 147%;
  margin-bottom: 0.6em;
  padding-left: 0.45em;
}

.main-content.post-content ul li {
  list-style: disc;
}

.main-content.post-content blockquote,
.main-content.post-content .excerpt {
  color: #444;
  padding-left: 0.5em;
  margin-top: 1em;
  border-left: 4px solid #ededed;
  position: relative;
}

.main-content.post-content blockquote {
  font-size: 1.85em;
}

.main-content.post-content aside {
  background-color: rgba(255, 47, 0, 0.14);
  padding: 1.2em;
  margin-bottom: 1.5em;
  width: 100%;
  position: relative;
  left: -1em;
}

.main-content.post-content aside.email-text,
.main-content.post-content aside.email-text p {
  font-family: monospace;
  background-color: #eee;
  font-size: 1em;
}

.main-content.post-content img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.main-content.post-content figcaption {
  font-size: 1em;
  margin: 0.6em 0 1.4em;
  color: #444;
  line-height: 1.5em;
}

.main-content.post-content iframe {
  margin: auto;
  max-width: 100%;
  min-width: 100%;
  min-height: 380px;
}

.main-content.post-content iframe.youtube-embed { 
  margin-bottom: 1em;
}

.main-content.post-content iframe[src^="https://embed.spotify.com"] {
  height: 80px;
  min-height: 0;
}

.main-content.post-content table {
  width: 100%;
  min-width: 290px;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1.15em;
  margin-bottom: 1em;
  line-height: 147%;
}

.main-content.post-content table caption {
  background-color: #ff2f00;
  border: 1px solid #ddd;
  color: #fff;
  padding: 0.1em 0;
  border-bottom: 0;
}

.main-content.post-content th {
  font-weight: bold;
  background-color: #f9f6f5;
}

.main-content.post-content th,
.main-content.post-content td {
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 0.8em 0.4em;
}

.main-content.post-content .wit-table th,
.main-content.post-content .wit-table td {
  vertical-align: top;
}

.main-content.post-content article.guitar-tab {
  position: relative;
  font-size: 0.8em;
  background-color: #eee;
  padding: 1.2em 0.8em 1.3em;
}

.main-content.post-content article.guitar-tab pre {
  margin-top: 40px;
  padding-bottom: 16px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: pre;
  overflow: auto;
  line-height: 1.35;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.main-content.post-content .guitar-tab-download-link {
  text-align: right;
  color:#888;
  font-size: 0.8em;
  line-height: 150%;
  padding-top: 0.7em;
}

.main-content.post-content footer.listening-to {
  font-weight: normal;
  border-top: 2px solid #ddd;
}

.main-content.post-content footer.listening-to div {
  color: #ff2f00;
  font-size: 1.4em;
  margin: 1.1em 0 1.3em;
}

.main-content.post-content footer.listening-to blockquote {
  font-size: 1em;
}

.main-content.post-content footer.listening-to blockquote:before {
  left: 10px;
}

.main-content.post-content .end-post-nav {
  margin: 3.5em 0 2em;
  text-align: left;
}

.main-content.post-content .end-post-nav:after {
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  content: "";
}

.main-content.post-content .end-post-nav .tags {
  float: left;
  margin: 1em 0 1.5em;
}

.main-content.post-content .end-post-nav .back-to-category {
  display: block;
  font-family: 'Oswald', 'Helvetica', 'Arial Black', 'Arial Bold', 'Arial', sans-serif;
  font-size: 1em;
}

.main-content.post-content .end-post-nav .back-to-category a:before {
  content: "« ";
}

.main-content.post-content .end-post-nav .tags span {
  display: inline-block;
}

.main-content.post-content .end-post-nav .tags a {
  padding: 0.4em;
  background-color: #ececec;
  color: #333;
  display: inline-block;
  margin: 0 0 0.4em 0.4em;
}

.main-content.post-content .comments.facebook-comments-module {
  margin-top: 3em;
}


/* POST HERO */
.page-hero-header {
  width: 100%;
  height: 80%;
  height: calc(100% - 61px);
  min-height: 430px;
  max-height: 1080px;
  margin-bottom: 1em;
  color: #fff;
  background-color: #999;
  position: relative;
}

.hero-image-container,
.hero-image-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-container .hero-placeholder-container {
  will-change: opacity;
  opacity: 1;

  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.hero-image-container .hero-placeholder-container.hide {
  opacity: 0;
}



.page-hero-header .vignette {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65%;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.34) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.page-hero-header .post-title-area {
  position: absolute;
  width: 96%;
  padding: 0.4em 2%;
  bottom: 40px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.page-hero-header .post-title-area .title-column {
  margin-left: 0.6em;
}

.page-hero-header .post-title-area .post-meta-area {
  text-shadow: none;
  text-align: right;
  margin-right: 0.6em;
}

.page-hero-header .post-title-area .post-meta-area .published-date {
  color: #ff2f00;
}

.page-hero-header .post-title-area .post-meta-area .last-updated-date {
  color: #ff2f00;
}

.page-hero-header .post-title-area .post-series-area {
  text-align: right;
  color: #fff;
  margin-right: 0.6em;
  padding-left: 40%;
}

.page-hero-header .post-title-area .post-series-area a {
  color: #fff;
}

.page-hero-header .post-title-area h1 {
  font-size: 2.4em;
  margin-bottom: 0.3em;
}

.page-hero-header .post-title-area .excerpt {
  font-size: 1.1em;
}

.page-hero-header .see-more {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-hero-header .see-more .scroll-down {
  color: #fff;
  font-size: 2.2em;
}

/* IMAGE FOR NON HERO POSTS */
.nohero-post-content .hero-image-container {
  position: relative;
  margin-bottom: 1.4em;
}

.nohero-post-content .hero-image-container .hero-placeholder-container {
  position: relative;
}

.nohero-post-content .hero-placeholder-container img {
  display: block;
  width: 100%;
  height: auto;
}

/* POST PROGRESS BAR */
.post-progress {
  position: fixed;
  top: 0;
  left: 0;
  border: 0;

  width: 100%;
  height: 4px;
  z-index: 100;

  background-color: transparent;
  color: #ff2f00;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-transition: width,.1s,linear;
  -o-transition: width,.1s,linear;
  transition: width,.1s,linear;
}

.post-progress::-webkit-progress-bar {
  background-color: transparent;
}

.post-progress::-webkit-progress-value {
  background-color: #ff2f00;
}

.post-progress::-moz-progress-bar {
  background-color: #ff2f00;
}

/* HOMEPAGE */
.main-content.homepage-content h3.homepage-copy-heading {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.main-content.homepage-content h5 {
  font-size: 1.4em;
  margin-top: 2em;
}

.main-content.homepage-content .read-more-blog {
  font-family: 'Oswald', 'Helvetica', 'Arial Black', 'Arial Bold', 'Arial', sans-serif;
  font-size: 1em;
  text-align: right;
}

.main-content.homepage-content .read-more-blog a:after {
  content: " »";
}



/* CATEGORY PAGES */
.archive-description {
  font-family: 'Oswald', 'Helvetica', 'Arial Black', 'Arial Bold', 'Arial', sans-serif;
  font-size: 1.1em;
  margin-bottom: 2em;
}

.archive-description p {
  line-height: 161%;
}

.post-list {
    margin-top: 1em;
}

.post-list li {
  position: relative;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ececec;

}

.post-list li a .main-tile-part {
  position: relative;
}

.post-list li a .main-tile-part > img {
  display: block;
  width: 100%;
  min-height: 150px;
}

.post-list li a .main-tile-part > span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.34) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.post-list li a:hover .main-tile-part > span,
.post-list li a:active .main-tile-part > span,
.post-list li a:focus .main-tile-part > span {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
}

.post-list li a .main-tile-part > span > h3 {
  margin: 0;
  padding: 0.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.post-list li a:hover .main-tile-part > span > h3,
.post-list li a:active .main-tile-part > span > h3,
.post-list li a:focus .main-tile-part > span > h3  {
  text-shadow: 0 2px 2px #ff2f00;
}

.post-list li a .sub-tile-part {
  margin-top: 0.3em;
  min-height: 2em;
  color: #666;
}

.post-list li a .sub-tile-part span {
  display: block;
  padding: 0 0.3em;
}

.post-list li a .sub-tile-part .date,
.post-list li a .sub-tile-part .cta {
  text-align: right;
  height: 1.3em;
}

.post-list li a .sub-tile-part .excerpt {
  font-size: 0.86em;
  margin-top: 0.75em;
}

.post-list li a .sub-tile-part .excerpt p,
.post-list li a .sub-tile-part .date {
  margin-bottom: 0.5em;
}

.post-list li a .sub-tile-part .cta {
    color: #ff2f00;
    margin-bottom: 0.7em;
}

/* PAGINATION */
.pagination {
  margin-top: 2em;
  font-size: 1.2em;
  text-align: center;
  line-height: 2.4em;
}

.pagination a,
.pagination span {
  padding: 0.4em 0.8em;
  border: 1px solid #eee;
}

.pagination a.prev,
.pagination a.next {
  display: none;
}


/* CONTACT PAGE */
.main-content.contact-form-content {
  max-width: 540px;
  padding-bottom: 3em;
}

.contact-form {
  margin-top: 2.4em;
}

.contact-form .form-input {
  padding-bottom: 1em;
}

.contact-form label {
  display: block;
  margin-bottom: 0.3em;
}

.contact-form input,
.contact-form textarea {
  width: 96%;
  padding: 0.5em 2%;
}

.contact-form .submit-area {
  text-align: right;
}

.contact-form .submit-area::after {
  content: "";
  height: 0;
  clear: both;
}

.contact-form .submit-area .g-recaptcha {
  display: inline;
  float: left;
}

.contact-form button[type=submit] {
  display: inline;
  padding: 0.5em 3em;
  margin-top: 1em;
  width: 100%;
  -webkit-appearance: none;
}

.contact-form textarea {
  height: 7.6em;
}

.contact-form .validation-error {
  display: none;
  margin-top: 0.4em;
}


/* 404 PAGE */
.main-content.page404-content {
  text-align: center;
  padding-top: 2em;
}

.main-content.page404-content .error-number {
  font-size: 3em;
}

.main-content.page404-content .error-number h1 {
  margin: 0;
}

.main-content.page404-content .message {
  font-size: 1.2em;
  max-width: 400px;
  margin: 0 auto 1.7em;
}

.main-content.page404-content .search-form {
  height: 2.5em;
  max-width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

.no-flexbox .main-content.page404-content .search-form {
  display: block;
}


.main-content.page404-content .search-form label {
  margin: 0 0.7em 0 1em;
  line-height: 2.38em;
}

.main-content.page404-content .search-form .search-box {
  padding: 0.5em 0.3em;
  flex-grow: 10;
}

.no-flexbox .main-content.page404-content .search-form .search-box {
  width: 50%;
}

.main-content.page404-content .search-form .search-icon {
  padding: 0 0.4em;
  cursor: pointer;
  -webkit-appearance: none;
  background: none;
  border: 0;
}

.no-flexbox .main-content.page404-content .search-form .search-icon {
  top: 6px;
  position: relative;
}

.main-content.page404-content .search-form .search-icon:hover {
  color: #ff2f00;
}

/* Minor breakpoint: 450 */
@media screen and (min-width: 450px) {

  .contact-form button[type=submit] {
    max-width: 9em;
    margin-top: 0;
  }

  .main-content.post-content blockquote,
  .main-content.post-content .excerpt {
    border-left: 7px solid #ededed;
  }

  .main-content.post-content blockquote {
    font-size: 1.85em;
    padding-left: 3.3em;
  }

  .main-content.post-content blockquote:before {
    content: "“";
    position: absolute;
    top: -0.3em;
    left: 18px;
    font-family: georgia;
    color: #ededed;
    font-size: 4em;
    z-index: -1;
  }

  .main-content.post-content .excerpt {
    padding-left: 1em;
  }

  .post-list li a .main-tile-part > span > h3 {
    font-size: 2.1em;
  }

  .post-list li a .sub-tile-part .excerpt {
    font-size: 1em;
  }

}

/* Minor breakpoint: 450 x 480 */
@media screen and (min-width: 450px) and (min-height: 480px) {

  .main-content.post-content h1 {
    font-size: 3em;
  }

  .page-hero-header .post-title-area h1 {
    font-size: 3.2em;
    margin-bottom: 0.18em;
  }

  .page-hero-header .post-title-area .excerpt {
    font-size: 1.18em;
  }

  .main-content.post-content p {
    font-size: 1.32em;
  }

  .main-content.page404-content .error-number {
    font-size: 4em;
  }

}

/* Minor breakpoint: 580 */
@media screen and (min-width: 580px) {

  .font-size-controls label {
    margin-top: 3px;
  }

  .site-header__home {
    border-bottom: 10px solid #000;
  }

  .site-header__home .logo {
    top: 10px;
  }

  .post-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }

  .no-flexbox .post-list {
    display: block;
  }

  .post-list li {
    background-color: #f7f7f7;
    width: 47%;
    margin: 0 1.5% 1.5em;
  }

  .no-flexbox .post-list li {
    float: left;
  }

  .no-flexbox .post-list:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
  }

  .post-list li a .main-tile-part > span > h3 {
    font-size: 1.5em;
  }

  .post-list li a .sub-tile-part {
    border: 1px solid #ececec;
    margin-top: 0;
  }

  .post-list li a .sub-tile-part span {
    padding: 0 0.6em;
  }

  .post-list li a .sub-tile-part .excerpt {
    font-size: 0.86em;
    height: 9em;
    margin-top: 0.6em;
  }

  .pagination a.next,
  .pagination a.prev {
    display: inline;
  }

  .main-content.post-content article.guitar-tab {
    font-size: 0.9em;
  }

  .main-content.post-content article.guitar-tab .font-size-controls {
    width: auto;
  }

  .main-content.post-content article.guitar-tab pre {
    margin-top: 0;
  }

  .main-content.post-content .guitar-tab-download-link {
    font-size: 0.85em;
  }

  .main-content.post-content .end-post-nav .tags {
    float: right;
    margin: 0;
    max-width: 49%;
    text-align: right;
  }

  .main-content.post-content .end-post-nav .back-to-category {
    float: left;
    padding: 0.4em 0;
  }

}

/* Major Breakpoint 768 */
@media screen and (min-width: 768px) {

  .site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }

  .no-flexbox .site-header {
    display: block;
    z-index: 10;
    position: relative;
  }

  .no-flexbox .site-header:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
  }

  .site-header .menu-button-area {
    display: none;
  }

  .site-header__slim .logo {
    text-align: left;
    width: auto;
    margin-right: 1em;
  }

  .site-header__slim .logo {
    display: inline-block;
    float: left;
  }

  .site-header__slim .logo a {
    padding-left: 84px;
  }

  .site-header__home {
    border-bottom: 10px solid #000;
  }

  .site-header__home .logo {
    background-image: url('img/a/homepage-logo-wide.png');
    max-width: none;
  }

  .no-flexbox .site-header__home .logo {
    height: 70%;
  }

  .site-header .nav-overlay {
    display: none;
  }

  .site-header .nav-container {
    width: auto;
    position: static;
    transform: translateX(0);
  }

  .no-flexbox .site-header .nav-container {
    display: inline-block;
    float: right;
    position: relative;
    top: 0;
  }

  .site-header__home .nav-container {
    height: 58px;
  }

  .site-header__home .nav-container .main-nav {
    justify-content: flex-end;
  }

  .above-fold__home {
    text-align: left;
  }

  .site-header .main-nav {
    width: auto;
    position: static;
    background: none;
    box-shadow: none;
    margin: 0;
    max-width: none;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .no-flexbox .site-header .main-nav {
    display: block;
  }

  .site-header .main-nav .dismiss {
    display: none;
  }

  .site-header .main-nav > ul {
    border: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .no-flexbox .site-header .main-nav > ul {
    display: block;
  }

  .site-header .main-nav .home-item {
    display: none;
  }

  .site-header .main-nav li {
    border: 0;
    height: 100%;
    line-height: 200%;
  }

  .no-flexbox .site-header .main-nav > ul > li {
    float: left;
  }

  .site-header .main-nav li a {
    color: #fff;
  }

  .site-header .main-nav > ul > li:hover > a,
  .site-header .main-nav > ul > li:active > a {
    color: #ffea47;
    background: transparent;
  }

  .main-nav li.cat-item ul.children {
    height: auto;
    display: none;
  }

  .main-nav li.cat-item:hover ul.children {
    display: block;
    max-height: none;
    position: absolute;
    top: 100%;
    margin-top: 3px;
  }

  .main-nav > ul > li > ul.children > li {
    background-color: rgba(243,243,243,0.88);
  }

  .site-header__home .main-nav li.cat-item:hover ul.children {
    box-shadow: 3px 3px 6px rgba(144, 21, 0, 0.4);
    margin-top: 0;
  }

  .site-header__home .main-nav > ul > li.cat-item:hover,
  .site-header__home .main-nav > ul > li > ul.children > li {
    background-color: rgba(244, 44, 0, 0.8);
    border: 0;
  }

  .site-header__home .main-nav > ul > li.cat-item:hover {
    box-shadow: 2px 0 9px rgba(144, 21, 0, 0.25);
  }

  .site-header__home .main-nav > ul >li > ul.children > li > a {
    color: #fff;
  }

  .site-header__home .main-nav > ul > li > a:active,
  .site-header__home .main-nav > ul > li > ul.children > li > a:hover {
    color: #ffea47;
    background-color: rgba(244, 44, 0, 0.4);
  }

  .main-nav > ul > li > a:active,
  .main-nav > ul > li > ul.children > li > a:hover {
    background-color: rgba(222,222,222,0.76);
  }

  .main-nav.overlays-hero > ul > li > ul.children > li {
    background-color: rgba(243,243,243,0.8);
  }

  .main-nav.overlays-hero > ul > li > a:active,
  .main-nav.overlays-hero > ul > li > ul.children > li > a:hover {
    background-color: rgba(212,212,212,0.6);
  }

  .site-header .search-form {
    border: 0;
    color: #fff;
    position: relative;
  }

  .main-nav .search-form .search-box {
    width: 140px;
  }

  .site-header .search-form .search-icon {
    color: #fff;
    position: relative;
    top: 2px;
    cursor: pointer;
  }

  .no-flexbox  .site-header .search-form .search-icon {
    top: 8px;
  }

  .site-header .search-form .search-icon:hover,
  .site-header .search-form .search-icon:active {
    color: #ffea47;
  }

  .site-header__home .headline-text {
    margin: 1em 5% 0.3em;
    position: relative;
    top: 40px;
  }

  .no-flexbox .site-header__home .headline-text {
    margin-top: 0;
    clear: both;
  }

  .site-header__home .summary-text {
    position: relative;
    top: 40px;
  }

  /* Post Content */
  .page-hero-header .post-title-area .title-column {

    margin: 0 32% 0 2%;
  }

  .page-hero-header .post-title-area .title-column h1 {
    font-size: 4em;
    line-height: 1.33em;
  }

  .page-hero-header .post-title-area .excerpt {
    font-size: 1.33em;
  }

  .page-hero-header .post-title-area .post-meta-area {
    margin-right: 1em;
  }

  .main-content.post-content blockquote {
    margin-top: 1.5em;
  }

  .main-content.post-content article.guitar-tab {
    font-size: 1em;
  }

  .main-content.post-content .guitar-tab-download-link {
    font-size: 0.9em;
  }


  /* Category Pages */
  .post-list li a .main-tile-part > span > h3 {
    font-size: 1.8em;
  }

  .post-list li a .sub-tile-part .excerpt {
    font-size: 1em;
    height: 7em;
  }

}

/* Minor breakpoint 1024 */
@media screen and (min-width: 1024px) {

  .site-header .main-nav {
    margin: 0 1em;
  }

  .main-nav .search-form .search-box {
    width: 190px;
  }

}

/* Minor breakpoint 768 x 800 (portrait large tablet) */
@media screen and (min-width: 768px) and (min-height: 800px) and (orientation: portrait) {

  .site-header__home .logo {
    background-image: url(img/a/homepage-logo-centered-large.png);
    max-width: 76%;
    top: 14px;
  }

  .site-header__home {
    border-bottom: 14px solid #000;
  }

  .site-header__home .headline-text {
    font-size: 4.3em;
    text-align: center;
  }

  .site-header__home .summary-text {
    font-size: 1.4em;
    text-align: center;
  }

}

/* Minor breakpoint 1360 */
@media screen and (min-width: 1360px) {

  .site-header__home .logo {
    top: 18px;
  }

  .site-header__home {
    border-bottom: 18px solid #000;
  }

  .site-header__home .headline-text {
    font-size: 4.5em;
  }

  .site-header__home .summary-text {
    font-size: 1.4em;
  }


}
